# Avoid accidental upload of the Sketch and Figma design files
#####################################################
## Please do not remove lines 5 and 6 - thanks! 🙂 ##
#####################################################
*.sketch
*.fig

# Avoid accidental XD upload if you convert the design file
###############################################
## Please do not remove line 12 - thanks! 🙂 ##
###############################################
*.xd

# Avoid your project being littered with annoying .DS_Store files!
.DS_Store
.prettierignore

Your Result
  76
  of 100

  Great
  You scored higher than 65% of the people who have taken these tests.
  
  Summary

  Reaction
  80 / 100

  Memory
  92 / 100

  Verbal
  61 / 100

  Visual
  72 / 100

  Continue